<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301879
  -->
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <add name="DefaultConnection" connectionString="Data Source=(LocalDb)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\aspnet-ITelecenterRestAPI-20191214114707.mdf;Initial Catalog=aspnet-ITelecenterRestAPI-20191214114707;Integrated Security=True" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <add key="CMSCONNECTIONSTRING" value="Data Source=AWSQASQL01;integrated security=SSPI;persist security info=False;Trusted_Connection=Yes;Initial Catalog =CMS_QA" />
    <add key="VOSCONNECTIONSTRING" value="Data Source=AWSQASQL01;integrated security=SSPI;persist security info=False;Trusted_Connection=Yes;Initial Catalog =VOS" />

    <add key="iTCNMCompanyID" value="605"></add>
    <add key="DefaultWebID" value="iTeleCenter2_0" />
    <add key="WebSiteID" value="12"></add>
    <add key="SignupAPIURL" value="http://localhost:62533/" />
    <add key="LOGO" value="http://www.iTeleCenter.com/images/itelecenterlogo.jpg" />
    <add key="COASecureURL" value="https://qa.coasecure.com" />

    <add key="MAILSERVER" value="mail.coanetwork.com" />
    <add key="MAILSERVER_PORTID" value="587" />
    <add key="MAILFROMACCOUNT" value="customercare@coanetwork.com" />
    <add key="MAILSERVER_PASSWORD" value="FCDmpIgxU93211" />
    <add key="MAILFROMACCOUNT_NAME" value="" />
    <add key="MAILTORESPORGREQUESTCC" value="kishore.mokkapati@coanetwork.com" />

    <add key="ERROREMAILTO" value="kishore.mokkapati@coanetwork.com" />
    <add key="ERROREMAILCC" value="" />

    <add key="TRY_TO_CHARGE" value="FALSE" />
    <add key="CCBYPASS" value="^CCOVERRIDE^CRDEMO^ROIDEMO^UNIBYPASS^" />
    <add key="AuthCode_ByPass" value="11111" />

    <add key="MAXRECORDCOUNT" value="10" />

    <add key="APIEnvironment" value="QA" />

    <!-- SOMOS SANDBOX -->
    <add key="APIURL" value="https://sandbox-api-tfnregistry.somos.com/" />
    <add key="SOMOS_UserName" value="NYA01VMG" />
    <add key="SOMOS_PassWord" value="Coanetwork@501" />
    <add key="ENABLETRACELOG" value="FALSE" />
    <add key="SOMOS_Route_Template" value="*NYINTELEPEER" />
    <add key="SOMOS_TermLine" value="9999" />
    <add key="SOMOS_cmd" value="U" />
    <add key="recVersionID_ByPass" value="" />

    <!-- SOMOS Number Reserve details -->
    <add key="RESERVE_Contact_Name" value="Paul Champaneria" />
    <add key="RESERVE_Contact_Phone" value="8004545930" />
    <add key="RESERVE_Notes" value="Reserved by COANetwork" />
    <add key="COA_RespOrgID" value="NYA01" />
    <add key="SOMOS_RespOrgID" value="SOMOS" />


    <!-- 1:From Local DataBase Only, 2: From IntelePeer Only, 3: From Local + IntelePeer 4:From SOMOS only, 5: From SOMOS + Intelepeer -->
    <add key="NUMBERS_FETCH_AND_SHOW_MODEL" value="4" />
    <add key="INTELEPPER_RESPORGID" value="LEP01" />


    <!-- Configuration Keys for Intelepeer Start -->
    <!-- TFN or True800 or Local Numbers Fetch AND Show Model -->

    <!-- IntelePeer Numbers PULL Flag Keys, When key value is 1=Merge; 0-DoNotMerge -->
    <add key="PULL_INTELEPEER_TOLLFREE_NUMBERS" value="1" />
    <add key="PULL_INTELEPEER_TRUE800_NUMBERS" value="1" />
    <add key="PULL_INTELEPEER_VANITY_NUMBERS" value="0" />
    <add key="PULL_INTELEPEER_LOCAL_NUMBERS" value="1" />

    <add key="LOG_EXECUTION_FLOW_MESSAGES" value="1" />
    <!-- 1:Log ALL messages -->

    <!-- USE 49245 is for 'COA AWS' for QA; 56237 is for 'COA Primary' for LIVE -->
    <add key="INTELEPEER_PACKAGE_ID" value="49245" />


    <add key="INTELEPEER_PACKAGE_ID_SB" value="49245" />
    <add key="INTELEPEER_PACKAGE_ID_LIVE" value="56237" />
    <!-- Configuration Keys for Intelepeer END Here -->

    <!-- IntelePeer KEYS Start -->
    <add key="INTELEPEER_BASE_URL" value="https://portal-sandbox.intelepeer.com" />
    <add key="INTELEPEER_API_USERID" value="coa-sandbox-api" />
    <add key="INTELEPEER_API_PASSWORD" value="razbvqps" />

    <add key="INTELEPEER_BASE_URL_SandBox" value="https://portal-sandbox.intelepeer.com" />
    <add key="INTELEPEER_API_USERID_SandBox" value="coa-sandbox-api" />
    <add key="INTELEPEER_API_PASSWORD_SandBox" value="razbvqps" />

    <add key="INTELEPEER_BASE_URL_LIVE" value="https://customer.intelepeer.com" />
    <add key="INTELEPEER_API_USERID_LIVE" value="coa-api-user" />
    <add key="INTELEPEER_API_PASSWORD_LIVE" value="7CWBmC3DDawZ" />

  </appSettings>
  <system.web>
    <authentication mode="None" />
    <compilation debug="true" targetFramework="4.5.2" />
    <httpRuntime targetFramework="4.5.2" />
  </system.web>
  <system.webServer>
    <modules>
      <remove name="FormsAuthentication" />
    </modules>
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.OAuth" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.Cookies" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" culture="neutral" publicKeyToken="30ad4fe6b2a6aeed" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:6 /nowarn:1659;1699;1701" />
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:14 /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
    </compilers>
  </system.codedom>
</configuration>